---
layout: "layouts/page.njk"
title: 'Blog'
author: 'Adam Turner'
permalink: /blog/
---

<h2>Posts Archive</h2>

{%- for post in collections.posts %}

<ul>
    <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
</ul>

{%- endfor %}
